<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">>
<head>

  <title>Capital Search</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/plotlyjs-bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/graph1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/search_custom.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/search_style.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/search_custom.css') }}">



</head>
<body>

  <!-- Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse-sm fixed-top py-3"> <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5faee6;">-->
    <a class="navbar-brand text-secondary" href="/" >
      <strong><img src="{{ url_for('static',filename='icons/Logo/L2-s.png') }}" width="10" height="10" class="d-inline-block align-mid" alt=""><span class= "purplefont">Angels</span></strong> of Capital
    </a>

      <span class="navbar-toggler-icon"></span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="w-auto;">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>In</strong>dex
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/dynamicData">The <strong><span class= "purplefont-l">D</span></strong>ynamic Data</a>
            <a class="dropdown-item" href="/data">The <strong><span class= "purplefont-l">D</span></strong>ata<strong><span class= "purplefont-l">!</span></strong></a>
              <a class="dropdown-item" href="/algorithm"><strong><span class= "purplefont-l">R</span></strong>obo <strong><span class= "purplefont-l">A</span></strong>dvisory<strong><span class= "purplefont-l">!</span></strong></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item font-weight-bold text-secondary" href="/capitalSearch">Capital search</a>
            <a class="dropdown-item font-weight-bold text-secondary" href="/caseStudies">Case Studies</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-secondary" href="/about">About <strong>Us</strong> <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>


    <!--Divider between containers-->
<div style="height:20px;background-color:white"></div>



<div class="container">
  <div class="container-fluid">
         <div class="row">
             <div class="col-sm">

             </div>
             <div class="col-lg">
                 <form class="form-inline mr-auto" autocomplete="off">
                     <input id="searchMatch" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">


                     <div class="search-data-info" id="suggestion-display">
                         <ul class="list-group" id="sugestion-container-data">
                         </ul>
                     </div>
                 </form>
                 <button class="btn btn-outline-success btn-rounded btn-sm my-0 purple-btn" id="search_btn">Search</button>
             </div>
             <div class="col-sm">

             </div>
         </div>
     </div>

     <!--Dianas code -->
     <div id="company-data">
         <div class="hero text-light text-center adjust-position">
             <div class="container-sm">
                 <div class="hero-inner">
                     <h1 id="company_name" style="color:black !important; font-family: inherit;"></h1>
                     <p class="hero-paragraph is-revealing purple-color" id="company_description" style="font-size: 16px"></p>
                 </div>
             </div>
         </div>


         <div class="features section text-center">
             <div class="">
                 <div class="features-inner section-inner has-top-divider">
                     <h2 class="section-title mt-0" style="font-family: inherit">Funding details</h2>
                     <div class="features-wrap">
                         <div class="feature is-revealing ">
                             <div class="feature-inner">
                                 <div class="fas fa-star pink-color">
                                 </div>
                                 <h4 class="feature-title h3-mobile pink-color" style="">FOUNDATION</h4>
                                 <p class="text-sm" id="company_foundation"></p>
                             </div>
                         </div>
                         <div class="feature is-revealing">
                             <div class="feature-inner">
                                 <div class="fas fa-money-bill-wave pink-color">
                                 </div>
                                 <h4 class="feature-title h3-mobile pink-color" style="">TOTAL FUNDING</h4>
                                 <p class="text-sm" id="foundation_money"></p>
                             </div>
                         </div>
                         <div class="feature is-revealing">
                             <div class="feature-inner">
                                 <div class="fas fa-globe-americas pink-color">
                                 </div>
                                 <h4 class="feature-title h3-mobile pink-color" style="">COUNTRY</h4>
                                 <p class="text-sm" id="foundation_country"></p>
                             </div>
                         </div>
                         <div class="feature is-revealing">
                             <div class="feature-inner">
                                 <div class="fas fa-industry pink-color">
                                 </div>
                                 <h4 class="feature-title h3-mobile pink-color" style="">INDUSTRY</h4>
                                 <p class="text-sm" id="foundation_industry"></p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     </div>
</div>








    <!--Divider between containers-->
<div style="height:100px;background-color:white"></div>


<!--   Footer    -->

<div class="card-footer bg-light text-dark mt-auto">
    <p class="text-center">Data Analytics Bootcamp - Project 3.0 </p>
</div>


</body>
</html>

<!--Scripts to export to a CSS File-->
