<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<head>

  <title>Venture Capital Panorama in LatAm</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/plotlyjs-bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/graph1.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

<!--Scripts to export to a CSS File-->

<script>
function relocate_home()
{
     location.href="/";
}
</script>




<!--################################################################################## -->

<!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse-sm fixed-top py-3"> <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5faee6;">-->
  <a class="navbar-brand text-secondary" href="/" >
    <strong><img src="{{ url_for('static',filename='icons/Logo/L2-s.png') }}" width="10" height="10" class="d-inline-block align-mid" alt=""><span class= "purplefont">Angels</span></strong> of Capital
  </a>

    <span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="w-auto;">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>In</strong>dex
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#prologue"><strong><span class= "purplefont-l">VC-Startup </span></strong>Intro</a>
          <a class="dropdown-item" href="#VCFunding"><strong><span class= "purplefont-l">Start-Up </span></strong>Panorama</a>
          <a class="dropdown-item" href="/dynamicData">The <strong><span class= "purplefont-l">D</span></strong>ynamic Data</a>
          <a class="dropdown-item" href="/data">The <strong><span class= "purplefont-l">D</span></strong>ata<strong><span class= "purplefont-l">!</span></strong></a>
            <a class="dropdown-item" href="/algorithm"><strong><span class= "purplefont-l">R</span></strong>obo <strong><span class= "purplefont-l">A</span></strong>dvisory<strong><span class= "purplefont-l">!</span></strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-weight-bold text-secondary" href="/capitalSearch">Capital search</a>
          <a class="dropdown-item font-weight-bold text-secondary" href="/caseStudies">Case Studies</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-secondary" href="/about">About <strong>Us</strong> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>


<!--Carrousel for the slideshow -->
 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-100" src="{{ url_for('static',filename='backgrounds/NAV/B3-w.jpg') }}" alt="First slide">
          <div class="carousel-caption d-block d-md-block">
            <h1 class="text-light">
                We help the <strong><span class= "purplefont-l">Ideas</span></strong> to thrive, go from local, to global, to <strong><span class= "purplefont-l">IPO</span></strong> and <strong><span class= "purplefont-l">beyond</span></strong>. We seek to advise and focus investment towards disrupting and enhancing <strong><span class= "purplefont-l">quality of life</span></strong> and are <strong><span class= "purplefont-l">made to last</span></strong>
              </h1>
          </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='backgrounds/NAV/B1-w.jpg') }}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">
                We help the <strong><span class= "purplefont-l">Ideas</span></strong> to thrive, go from local, to global, to <strong><span class= "purplefont-l">IPO</span></strong> and <strong><span class= "purplefont-l">beyond</span></strong>. We seek to advise and focus investment towards disrupting and enhancing <strong><span class= "purplefont-l">quality of life</span></strong> and are <strong><span class= "purplefont-l">made to last</span></strong>
              </h1>
          </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='backgrounds/NAV/B2-w.jpg') }}" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">
                We help the <strong><span class= "purplefont-l">Ideas</span></strong> to thrive, go from local, to global, to <strong><span class= "purplefont-l">IPO</span></strong> and <strong><span class= "purplefont-l">beyond</span></strong>. We seek to advise and focus investment towards disrupting and enhancing <strong><span class= "purplefont-l">quality of life</span></strong> and are <strong><span class= "purplefont-l">made to last</span></strong>
              </h1>
          </div>
    </div>
    <div class="carousel-item">
     <img class="d-block w-100" src="{{ url_for('static',filename='backgrounds/NAV/B4-w.jpg') }}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-light">
                We help the <strong><span class= "purplefont-l">Ideas</span></strong> to thrive, go from local, to global, to <strong><span class= "purplefont-l">IPO</span></strong> and <strong><span class= "purplefont-l">beyond</span></strong>. We seek to advise and focus investment towards disrupting and enhancing <strong><span class= "purplefont-l">quality of life</span></strong> and are <strong><span class= "purplefont-l">made to last</span></strong>
          </h1>
          </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--Divider between containers-->
<div style="height:100px;background-color:white"></div>




<!--Section 1: Intro    -->
  <section class="page-section bg-transparent" id="intro">
    <div class="container mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0 text-secondary"><strong><span class="purplefont-l">V</span></strong>enture <strong><span class="purplefont-l">C</span></strong>apital - Data Analysis in LatAm</h2>
          <hr class="divider light my-4">
          <p class=" mb-4 text-secondary">Explore the interactive graphics to understand where the VCs are investing in LatAm, which sectors are the preferred, what countries have the most start-ups funded, find out with us!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger text-light" href="#prologue">Get Started!</a>
        </div>
      </div>
    </div>
  </section>


<!--Divider between containers-->
<div style="height:100px;background-color:white;font-size:36px" id="prologue"></div>



<!--Section 2: Gráfica 1 Legacy    -->
<!--
  <section class="page-section bg-transparent">
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0 text-secondary">Total Funding In LatAm - Ejemplo</h2>
          <hr class="divider light my-4">
          <p class=" mb-4 text-secondary">Explore the interactive graphics to understand where the VCs are investing in LatAm, which sectors are the preferred, what countries have the most start-ups funded, find out with us!</p>
            <div id="c2480bc4-e75b-486d-9e10-d83606cb6ea9" style="width: 800px; height: 600px;" class="plotly-graph-div"></div>
            <script type="text/javascript">
                (function(){
                    window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

                    var gd = document.getElementById('c2480bc4-e75b-486d-9e10-d83606cb6ea9')
                    var resizeDebounce = null;

                    function resizePlot() {
                        var bb = gd.getBoundingClientRect();
                        Plotly.relayout(gd, {
                            width: bb.width,
                            height: bb.height
                        });
                    }




                    Plotly.plot(gd,  {
                        data: figure.data,
                        layout: figure.layout,
                        frames: figure.frames,
                        config: {"showLink": true, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
                    });

               }());
            </script>

        </div>
      </div>
    </div>
  </section>
-->


<!--Section 2: Prologue    -->

<div class="container-fluid" id="prologue">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <header>
          <div class="overlay"></div>
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static',filename='videos/creative_capital.mp4') }}" type="video/mp4">
          </video>
        </header>

    </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "purplefont-l">Global</span></strong> View</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">

                  For 2050 the global population will reach <font size="6"><strong><span class= "purplefont-l">9.8</span></strong></font> billion according to the UN, there will be a strong pressure for new products and demand for water, energy and food while fertility rates are decreasing in developed countries, baby boomers retiring, among other challenges that will be faced. </p>
            <p class=" mb-4 text-secondary">
                The <font size="5"><strong><span class= "purplefont-l">Capital plays a critical role</span></strong></font>, where companies are experimenting with new technologies, products and services. Thats why there is a need to allocate new capital to accelerate the innovation and solutions for the new challenges arising around the world. </p>
             <p class=" mb-4 text-secondary">
            In LatAm the panorama of funding it's changing with the entrance of titan funds that will uplift competitiveness and might awake interest from other VCs that could potentially invest in the region. (The average ticket invested in México was US$ 1.0 Million while the new fund makes tickets of +US$ 20.0 Million)<sup>1</sup></p>
            <hr class="divider light my-4">
                <p><span class= "text-secondary"><i><sub>Sources: United Nations, News Run, AMEXCAP, MS, SoftBank</sub></i></span></p>
            <p><span class= "text-secondary"><i><sub>Note: Data as of September 2018</sub></i></span></p>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>



<!--Divider between containers-->
<div style="height:100px;background-color:white;font-size:36px" id="VCFunding"></div>


<!--Section 3: Gráfica 1    -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "purplefont-l">Start-Up</span></strong> Panorama in LatAm</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">
              In this context, one of the most funded companies in LatAm is Rappi, with more than US$500 Mn, from Colombia and the other 4 in Brazil, showing the gap between countries and their starup environment.

                  The 30 of April of 2019, Softbank's Growth Technology Fund invested US$ 1.0 Bn in Rappi at a US$ 2.6 Bn valuation, making Rappi a Colombian <strong><span class= "purplefont-l">Unicorn</span></strong>
              </div>
          </div>
        </div>
      </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
            <div id="plot_company_1" style="width: 600px; height: 600px;" class="plotly-graph-div"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
            <script src="../static/js/plots_company.js"></script>

      </div>
  </div>
</div>
<!--<div style="height:100px;background-color:white;font-size:36px" id="Evolutionoffunding"></div>-->


<!--Section 4: Gráfica 2    -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <div id="plotly-div"></div>
    <script src="../static/js/funding_by_year_chart.js"></script>
      <script>
          buildCharts();
      </script>
    </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "purplefont-l">Evolution</span></strong> of Funding</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">

                  The LAtAm total funding has been increasing since 1980. <font size="6"><strong><span class= "purplefont-l">Brazil</span></strong></font> took the lead with more than US$11.4 Bn. </p>
            <p class=" mb-4 text-secondary">
                This shows that Brazil seems more attractive for venture investment than any other country, with 9.0x more than the following country with most funding</p>
            <hr class="divider light my-4">
                <p><span class= "text-secondary"><i><sub>Sources: Thomson One and News Run</sub></i></span></p>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>


    <!--Divider between containers-->
<div style="height:100px;background-color:white"></div>


<div id="plot_country" style="width: 100%; height: 600px;" class="plotly-graph-div"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="../static/js/plots_country.js"></script>


    <!--Divider between containers-->
<div style="height:50px;background-color:white"></div>


<!--Fun Fact Cards-->
<div class="row">
  <div class="column">
    <div class="card">
      <p><i class="fa fa-building-o"></i></p>
      <h3><strong>800+</strong></h3>
        <p><strong>Start-ups <span class= "text-secondary">Funded</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-money"></i></p>
      <h3><strong>5+</strong></h3>
        <p><strong>US$ Bn <span class= "text-secondary">Funded</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-smile-o"></i></p>
      <h3><strong>100+</strong></h3>
        <p><strong>Funds <span class= "text-secondary">Invested</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-map-marker"></i></p>
      <h3><strong>20</strong></h3>
        <p><strong>Coun<span class= "text-secondary">tries</span></strong></p>
    </div>
  </div>
</div>



    <!--Divider between containers-->
<div style="height:100px;background-color:white"></div>


<!--   Footer    -->

<div class="card-footer bg-light text-dark mt-auto">
    <p class="text-center">Data Analytics Bootcamp - Project 3.0 </p>
</div>


</body>
</html>

<!--Scripts to export to a CSS File-->

<script>
function relocate_home()
{
     location.href="index.html";
}
</script>
<style>.carousel-caption {
    top: 100px;
    bottom: auto;
    left: 50px;
    text-align: left;
    padding:20px;
    background-color: rgba(56, 60, 66, 0.3)
}
</style>
