<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">>
<head>

  <title>Venture Capital Panorama in LatAm</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/plotlyjs-bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/graph1.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

<!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse-sm fixed-top py-3"> <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5faee6;">-->
  <a class="navbar-brand text-secondary" href="#" onclick=" relocate_home()">
    <strong><span class= "text-primary">VC </span></strong><strong>A</strong>nalytics
  </a>

    <span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="w-auto;">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>In</strong>dex
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#prologue"><strong><span class= "text-primary">VC-Startup </span></strong>Intro</a>
          <a class="dropdown-item" href="#VCFunding"><strong><span class= "text-primary">Start-Up </span></strong>Panorama</a>
          <a class="dropdown-item" href="fig3.html">Other <strong><span class= "text-primary">G</span></strong>raphs</a>
          <a class="dropdown-item" href="fig4.html">The <strong><span class= "text-primary">D</span></strong>ata<strong><span class= "text-primary">!</span></strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-weight-bold text-secondary" href="{{ url_for('case_studies') }}">Case Studies</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-secondary" href="Comparison.html">About <strong>Us</strong> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>


<!--Carrousel for the slideshow -->
 <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-100" src="{{ url_for('static',filename='backgrounds/NAV/A1.png') }}" alt="First slide">
          <div class="carousel-caption d-block d-md-block">
            <h1 class="text-LIGHT">
                As the <strong><span class= "text-primary">D</span></strong>igital <strong><span class= "text-primary">A</span></strong>ge enables the generation of yotabytes of information, how do you analyze all this information?, to do an accurate and faster decision-making, you hire <strong><span class= "text-primary">US</span></strong>, so you can focus on what matters.</h1>
          </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static', filename='backgrounds/NAV/A2.jpg') }}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-dark">
                As the <strong><span class= "text-primary">D</span></strong>igital <strong><span class= "text-primary">A</span></strong>ge enables the generation of yotabytes of information, how do you analyze all this information?, to do an accurate and faster decision-making, you hire <strong><span class= "text-primary">US</span></strong>, so you can focus on what matters.</h1>
          </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='backgrounds/NAV/A3.png') }}" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">
                As the <strong><span class= "text-primary">D</span></strong>igital <strong><span class= "text-primary">A</span></strong>ge enables the generation of yotabytes of information, how do you analyze all this information?, to do an accurate and faster decision-making, you hire <strong><span class= "text-primary">US</span></strong>, so you can focus on what matters.</h1>
          </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--Divider between containers-->
<div style="height:100px;background-color:white"></div>




<!--Section 1: Intro    -->
  <section class="page-section bg-transparent" id="intro">
    <div class="container mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0 text-secondary">Venture Capital - Data Analysis in LatAm</h2>
          <hr class="divider light my-4">
          <p class=" mb-4 text-secondary">Explore the interactive graphics to understand where the VCs are investing in LatAm, which sectors are the preferred, what countries have the most start-ups funded, find out with us!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger text-light" href="#prologue">Get Started!</a>
        </div>
      </div>
    </div>
  </section>


<!--Divider between containers-->
<div style="height:100px;background-color:white;font-size:36px" id="prologue"></div>



<!--Section 2: Gráfica 1 Legacy    -->
<!--
  <section class="page-section bg-transparent">
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0 text-secondary">Total Funding In LatAm - Ejemplo</h2>
          <hr class="divider light my-4">
          <p class=" mb-4 text-secondary">Explore the interactive graphics to understand where the VCs are investing in LatAm, which sectors are the preferred, what countries have the most start-ups funded, find out with us!</p>
            <div id="c2480bc4-e75b-486d-9e10-d83606cb6ea9" style="width: 800px; height: 600px;" class="plotly-graph-div"></div>
            <script type="text/javascript">
                (function(){
                    window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

                    var gd = document.getElementById('c2480bc4-e75b-486d-9e10-d83606cb6ea9')
                    var resizeDebounce = null;

                    function resizePlot() {
                        var bb = gd.getBoundingClientRect();
                        Plotly.relayout(gd, {
                            width: bb.width,
                            height: bb.height
                        });
                    }




                    Plotly.plot(gd,  {
                        data: figure.data,
                        layout: figure.layout,
                        frames: figure.frames,
                        config: {"showLink": true, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
                    });

               }());
            </script>

        </div>
      </div>
    </div>
  </section>
-->


<!--Section 2: Prologue    -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <header>
          <div class="overlay"></div>
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static',filename='videos/creative_capital.mp4') }}" type="video/mp4">
          </video>
        </header>

    </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "text-primary">VC-Startup</span></strong> Intro</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">

                  For 2050 the global population will reach <font size="6"><strong><span class= "bluefont">9.8</span></strong></font> billion according to the UN, there will be a strong pressure for new products and demand for water, energy and food while fertility rates are decreasing in developed countries, baby boomers retiring, among other challenges that will be faced. </p>
            <p class=" mb-4 text-secondary">
                The <font size="5"><strong><span class= "bluefont">Capital plays a critical role</span></strong></font>, where companies are experimenting with new technologies, products and services. Thats why there is a need to allocate new capital to accelerate the innovation and solutions for the new challenges arising around the world. </p>
             <p class=" mb-4 text-secondary">
            In LatAm the panorama of funding it's changing with the entrance of titan funds that will uplift competitiveness and might awake interest from other VCs that could potentially invest in the region. (The average ticket invested in México was US$ 1.0 Million while the new fund makes tickets of +US$ 20.0 Million)<sup>1</sup></p>
            <hr class="divider light my-4">
                <p><span class= "text-secondary"><i><sub>Sources: United Nations, News Run, AMEXCAP, MS, SoftBank</sub></i></span></p>
            <p><span class= "text-secondary"><i><sub>Note: Data as of September 2018</sub></i></span></p>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>



<!--Divider between containers-->
<div style="height:100px;background-color:white;font-size:36px" id="VCFunding"></div>


<!--Section 3: Gráfica 1    -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "text-primary">Start-Up</span></strong> Panorama in LatAm</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">
              In this context, one of the most funded companies in LatAm is Rappi, with more than US$500 Mn and it comes from Colombia and other 4 in Brazil, this shows the gap between countries and their starup environment.
              </div>
          </div>
        </div>
      </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
            <div id="plot_company_1" style="width: 600px; height: 600px;" class="plotly-graph-div"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
            <script src="{{ url_for('static',filename='js/plots_company.js') }}"></script>

      </div>
  </div>
</div>
<!--<div style="height:100px;background-color:white;font-size:36px" id="Evolutionoffunding"></div>-->


<!--Section 4: Gráfica 2    -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <div id="plotly-div"></div>
      <script src="{{ url_for('static',filename='js/Time-series-Graph.js') }}"></script>
        <script>
            buildCharts();
        </script>
    </div>
    <div class="col-sm-6 my-auto" style="background-color:rgba(0, 0, 0, 0.0);">

        <div class="container mb-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mt-0 blackfont"><strong><span class= "text-primary">Evolution</span></strong> of Funding</h3>
              <hr class="divider light my-4">
              <p class=" mb-4 text-secondary">

                  The LAtAm total funding has been increasing since 1980. <font size="6"><strong><span class= "bluefont">Brazil</span></strong></font> took the lead with more than US$11.4 Bn. </p>
            <p class=" mb-4 text-secondary">
                This shows that Brazil seems more attractive for venture investment than any other country, with 9.0x more than the following country with most funding</p>
            <hr class="divider light my-4">
                <p><span class= "text-secondary"><i><sub>Sources: Thomson One and News Run</sub></i></span></p>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

<!--Equipo: Team    -->
<!--
 <div class="row">
  <div class="column">
    <div class="card">
      <img src="../VCAnalytics/Resources/Images/Profile/TempA.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Christian Arroyo</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../VCAnalytics/Resources/Images/Profile/TempA.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Christopher ...</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../VCAnalytics/Resources/Images/Profile/TempB.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Diana Mastache</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../VCAnalytics/Resources/Images/Profile/TempA.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Jos[e María</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>
-->
<div id="plot_country" style="width: 100%; height: 600px;" class="plotly-graph-div"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="{{ url_for('static',filename='js/plots_country.js') }}"></script>
    <!--Divider between containers-->
<div style="height:500px;background-color:white"></div>



<!--Fun Fact Cards-->
<div class="row">
  <div class="column">
    <div class="card">
      <p><i class="fa fa-building-o"></i></p>
      <h3><strong>800+</strong></h3>
        <p><strong>Start-ups <span class= "text-secondary">Funded</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-money"></i></p>
      <h3><strong>5+</strong></h3>
        <p><strong>US$ Bn <span class= "text-secondary">Funded</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-smile-o"></i></p>
      <h3><strong>100+</strong></h3>
        <p><strong>Funds <span class= "text-secondary">Invested</span></strong></p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i class="fa fa-map-marker"></i></p>
      <h3><strong>20</strong></h3>
        <p><strong>Coun<span class= "text-secondary">tries</span></strong></p>
    </div>
  </div>
</div>




    <!--Divider between containers-->
<div style="height:100px;background-color:white"></div>


<!--   Footer    -->

<div class="card-footer bg-light text-dark mt-auto">
    <p class="text-center">Data Analytics Bootcamp - Project 2.0 </p>
</div>


</body>
</html>

<!--Scripts to export to a CSS File-->

<script>
function relocate_home()
{
     location.href="index.html";
}
</script>
