.purple-btn {
    border: 1px solid rgba(128, 25, 236, 1.0);
    color:rgba(128, 25, 236, 1.0);
    position: relative;
    left: 255px;
    top: -42px;
}
.purple-btn:hover {
    border: 1px solid rgba(128, 25, 236, 1.0);
    color:#fff;
    background-color: rgba(128, 25, 236, 1.0);
}
.purple-btn:active {
    border: 2px solid rgba(128, 25, 236, 1.0) !important;
    color:#fff;
    background-color: rgba(128, 25, 236, 1.0) !important;
}
.purple-btn:focus{
      box-shadow: 2px 2px  rgba(128, 25, 236, 1.0);
}
.row{
    margin-top: 50px;
}

.search-data-info {
    position: absolute;
    visibility:hidden;
    background-color:white;
    width: 240px;
    height: 40px;
    margin-left: 0px;
    margin-top: 45px;
    -webkit-box-shadow: 0px 10px 16px -6px rgba(224,224,224,1);
    -moz-box-shadow: 0px 10px 16px -6px rgba(224,224,224,1);
    box-shadow: 0px 10px 16px -6px rgba(224,224,224,1);
    border: 1px solid #d8d8d8;
    z-index: 10;
}
.pink-color{
    color:rgb(232, 62, 140);
}
.purple-color {
    color:rgba(128, 25, 236, 1.0);
}
.adjust-position{
    margin-top: -30px;
}
#company-data{
    visibility: hidden;
}
