<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">>
<head>

  <title>Case Studies</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/master.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/plotlyjs-bundle.js"></script>
  <script type="text/javascript" src="../static/js/graph1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>

<!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse-sm fixed-top py-3"> <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5faee6;">-->
  <a class="navbar-brand text-secondary" href="#" onclick=" relocate_home()">
    <strong><img src="./static/icons/Logo/L2-s.png" width="10" height="10" class="d-inline-block align-mid" alt=""><span class= "purplefont">Angels</span></strong> of Capital 
  </a>

    <span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="w-auto;">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>In</strong>dex
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../index.html"><strong><span class= "purplefont-l">VC-Startup </span></strong>Intro</a>
          <a class="dropdown-item" href="../index.html"><strong><span class= "purplefont-l">Start-Up </span></strong>Panorama</a>
          <a class="dropdown-item" href="fig3.html">The <strong><span class= "purplefont-l">D</span></strong>ynamic Data</a>
          <a class="dropdown-item" href="fig4.html">The <strong><span class= "purplefont-l">D</span></strong>ata<strong><span class= "purplefont-l">!</span></strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-weight-bold text-secondary" href="../templates/views/case_studies.html">Case Studies</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-secondary" href="Comparison.html">About <strong>Us</strong> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>

    

    <h1>Share a Ride - <span class="purplefont-l">Uber Pool Case</span></h1>          
    <div style="height:10px;background-color:white"></div>

    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IFjI8Eh7qg8?controls=0&amp;start=22" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
<!--   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LlhmzVL5bm8?rel=0" allowfullscreen width="200" height="200"></iframe> -->
    
    
<!--   Footer    -->

<div class="card-footer bg-light text-dark mt-auto">
    <p class="text-center">Data Analytics Bootcamp - Project 2.0 </p>
</div>


</body>
</html>

<!--Scripts to export to a CSS File-->

<script>
function relocate_home()
{
     location.href="../index.html";
}
</script>
<style>.carousel-caption {
    top: 100px;
    bottom: auto;
    left: 50px;
    text-align: left;
    padding:20px;
    background-color: rgba(56, 60, 66, 0.3)
}
</style>