<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
  
  <title>Venture Capital Panorama in LatAm</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../VCAnalytics/Resources/JS/plotlyjs-bundle.js"></script>
  <script type="text/javascript" src="../VCAnalytics/Resources/JS/graph1.js"></script>

</head>
<body>
    
<!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse-sm fixed-top py-3"> <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5faee6;">-->
  <a class="navbar-brand text-secondary" href="#" onclick=" relocate_home()">
    <strong><span class= "text-primary">VC </span></strong><strong>A</strong>nalytics
  </a>
    
    <span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="w-auto;">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>In</strong>dex
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#VCFunding"><strong><span class= "text-primary">VC </span></strong>Map</a>
          <a class="dropdown-item" href="fig2.html"><strong><span class= "text-primary">VC </span></strong>Funding in LatAm</a>
          <a class="dropdown-item" href="fig3.html">Other <strong><span class= "text-primary">G</span></strong>raphs</a>
          <a class="dropdown-item" href="fig4.html">The <strong><span class= "text-primary">D</span></strong>ata<strong><span class= "text-primary">!</span></strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-weight-bold text-secondary" href="https://openweathermap.org/">Case Studies</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-secondary" href="Comparison.html">About <strong>Us</strong> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>

         
    
    
    <div class="embed-responsive embed-responsive-21by9">
        <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/0dfyls5grs" allowfullscreen width="400" height="400"></iframe> 
    </div>
    
<!--   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LlhmzVL5bm8?rel=0" allowfullscreen width="200" height="200"></iframe> -->
    
    
<div class="card-footer bg-light text-dark mt-auto">
    <p class="text-center">Copyright Skylabs Inc. </p>
</div>

</body>
</html>
<script>
function relocate_home()
{
     location.href="Index.html";
} 
</script>

<!-- Parallax Script -->
<style>
.parallax { 
  /* The image used */
  background-image: url("../VCAnalytics/Resources/Backgrounds/NAV/A2.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>